
<h3><%= link_to :back, class:"nav-link" do%>
    <i class="fas fa-arrow-circle-left"> </i>
    Perfil
  <% end %></h3>

<hr>
<div class="card shadow mb-4">
  <div class="card-body">
      <div class="form row">
        <div class="form-group col col-lg-6 col-md-6 col-sm-12">
          <label class="text-info text-uppercase mb-1 font-weight-bold" for="Nombres">Nombres: </label>
          <label><%= current_user.nombres %></label>
        </div>
        <div class="form-group col col-lg-6 col-md-6 col-sm-12">
          <label class="text-info text-uppercase mb-1 font-weight-bold" for="Nombres">Apellidos: </label>
          <%= current_user.apellidos %>
        </div>
      </div>
    <div class="form row">
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <label class="text-info text-uppercase mb-1 font-weight-bold" for="Correo electronico">Correo electrónico: </label>
        <label><%= current_user.email %></label>
      </div>
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <label class="text-info text-uppercase mb-1 font-weight-bold" for="Correo electronico">Dirección: </label>
        <label><%= current_user.direccion %></label>
      </div>
    </div>
    <div class="form row">
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <label class="text-info text-uppercase mb-1 font-weight-bold" for="Correo electronico">Teléfono Fijo: </label>
        <label><%= current_user.telefonoFijo %></label>
      </div>
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <label class="text-info text-uppercase mb-1 font-weight-bold" for="Correo electronico">Teléfono Movil: </label>
        <label><%= current_user.telefonoMovil %></label>
      </div>
    </div>
    <div class="form row">
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <label class="text-info text-uppercase mb-1 font-weight-bold" for="Correo electronico">Contraseña: </label>
        <label><%= current_user.password %></label>
      </div>
      <div class="form-group col col-lg-6 col-md-6 col-sm-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Editar</button>
      </div>
    </div>
</div>
</div>
<h3>Métodos de pago <button type="button" class="btn btn-dark">Añadir</button>  </h3>
<hr>
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
    <h6 class="m-0 font-weight-bold text-primary">Tarjeta visa</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      Datos
    </div>
  </div>
</div>


<h3>Cancelar la cuenta</h3>
<hr>
<p><%= button_to "Cancelar la cuenta", registration_path(resource_name), data: { confirm: "¿Está seguro de eliminar su cuenta?" }, method: :delete, :class=> "btn btn-danger" %></p>

<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content bg-gray-900">
    <div class="modal-header">
      <h5 class="modal-title text-gray-100" id="exampleModalLabel">Editar Usuario</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-gray-100">&times;</span>
      </button>
    </div>
    <div class="modal-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put ,:class => 'user'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <%= f.text_field :nombres ,class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Nombres" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :apellidos ,class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Nombres" %>
          </div>
        </div>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class=> "form-control form-control-user text-gray-100 bg-gray-900" %>
  </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group ">
          <%= f.text_field :direccion ,class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Direccion" %>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <%= f.text_field :telefonoFijo ,class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Teléfono 1" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :telefonoMovil ,class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Teléfono 2" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-control-user text-gray-100 bg-gray-900",placeholder:"Deje en blanco si no desea cambiar la contraseña" %>
          </div>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control form-control-user text-gray-100 bg-gray-900", placeholder:"Repita Contraseña"%>
          </div>
        </div>
  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "current-password" ,:class=> "form-control form-control-user text-gray-100 bg-gray-900",placeholder: "Contraseña actual (Se requiere su contraseña actual para con firmar los cambios"  %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary " data-dismiss="modal">Cerrar</button>
    <%= f.submit "Actualizar" ,:class=> "btn btn-primary " %>
  </div>
<% end %>
    </div>
  </div>
</div>
</div>