<html>
<head>
  <title>Celulares</title>
</head>
<body>
<h3>&nbsp; Celulares</h3>
<hr>
<div class="row">
  <% @celulares.each do |celular| %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card  shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-auto">
              <img src="<%= celular.producto.imagen%>" width="75" height="100" align="center" hspace="10" vspace="10">
            </div>
            <div class="col mr-2">
              <div class="text-md font-weight-bold text-info text-uppercase mb-1">
                <%= celular.producto.marca %>
              </div>
              <div class="text-xs text-info text-uppercase mb-1 ">
                <%= celular.producto.linea %>
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <%= celular.producto.precio %>
              </div>
              <%= link_to 'Más información', producto_path(celular), class: "btn btn-info btn-sm text-xs" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
